<title>kittieshouse, part of the &#8220;Bangladesh&#8221; rreset by javan &mdash; Rreset</title>

</head>

<body>
<div id="container">
  <div id="content">
    
    
<p id="photo">
    <a href="/72157603669992986/2612816672" class="noborder" title="Previous photo"><img src="" id="script_photo" /></a>
  <noscript>
    <img alt="2612816162_c55659d30f" id="noscript_photo" src="http://farm4.static.flickr.com/3013/2612816162_c55659d30f.jpg" />
  </noscript>
</p>

<p id="photo_nav" class="photo_width">
  <a href="/72157603669992986/2612816672" class="photo_nav_link" id="photo_prev"><span>prev</span></a>

  <span id="photo_details">
    <a href="http://www.flickr.com/photos/javan/2612816162/" id="flickr_link" title="See this photo's page on Flickr.">kittieshouse</a>
    <em>by</em> 
    <a href="/people/51035706609@N01" id="photo_owner">Javan Makhmali</a>
  </span>
  <a href="/72157603669992986/2611980807" class="photo_nav_link" id="photo_next"><span>next</span></a>
</p>


  </div>
  <div id="footer">  This photo has copyright restrictions by its owner 
  (<a href="#" id="show_license" onclick="$(this).replaceWith($(this).next().show()); return false;" style="display:none">show</a><span id="license"><a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Attribution-NonCommercial-ShareAlike License</a></span>).<br />
&copy; 2008 <a href="/">Rreset</a>

      &bull; <a href="/">Log in / join</a>

    
  </div>
</div>

</body>
</html>
