<h1 id="logo">
  <a href="<%= root_url %>">
    <span>Rreset &mdash; a gallery wall for your flickr photosets. Create a photoblog from a photoset and customize it to your liking.</span>
    <%= image_tag 'logo_on_wall.png', :alt => 'rreset' %>
  </a>
</h1>