<%- title("#{@user.display_name}&rsquo;s rresets") -%>
<%= render :partial => 'shared/logo' %>

<% if @user.rresets.size.zero? %>
  <p>It doesn&rsquo;t look like <%= @user.display_name %> has any rresets to share.</p>
<% else %>
  <p>Here are <%= @user.display_name %>&rsquo;s rresets.</p>
  <div class="fluid_container margin_top_20">
    <div class="margin_top_20">
      <%= render :partial => @user.rresets %>
      <br style="clear:both" />
    </div>
  </div>
<% end %>
